body{
    background-color: #121216;
    
}

#Logo_dezzer{
height: 10%;
width: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 60px;

}

button, h1{
    border-radius: 20px;
    background: transparent;
    color: white;
    font-weight: bold;
}
